@mixin common-btn {
  background: $main-color;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  cursor: pointer;
}

@mixin shadow {
  box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.19);
}

@mixin section-title {
  font-size: 2rem;
  color: ($main-color);
  background: rgba($main-color, 0.04);
  text-transform: capitalize;
  padding: 5px 20px;
  border-radius: 25px;
}
