//font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// imports

@import "mixin";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.nav-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-img {
  width: 18rem;
  margin-right: 10rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;

  li {
    padding: 0 10px;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    cursor: pointer;
    &:hover {
      color: $off-color;
    }
  }
}
.nav-btn {
  @include common-btn;
  margin-left: 5rem;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 0 0 5rem;
  background: rgba($off-color, 0.05);
}

.page-title {
  text-transform: capitalize;
  font-size: 5rem;
  max-width: 70%;

  color: $secondary-color;
}

.banner-img {
  width: 50rem;
}
.banner-description {
  font-size: 2rem;
  width: 50rem;
  max-width: 70%;
  padding: 0 0 0 2rem;
  margin: 1.5rem 0 0 0;
  border-left: 1px solid $secondary-color;
  color: $off-color;
}

.banner-btn {
  @include common-btn;
  text-transform: capitalize;
  margin-top: 5rem;
}

// find section

.find-section-part {
  margin: 5rem 5rem 0 5rem;
  @include shadow;
}

.find-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem 5rem 0 5rem;
  margin-bottom: 5rem;
  background: white;
  padding: 2rem 5rem 2rem 5rem;

  .find-btn {
    @include common-btn;
  }
}

.select-section {
  margin: 0 4rem;
  width: 20rem;

  select {
    padding: 1em 1.5em;
    background: white;
    border: 0.5px solid $off-color;
    &:active,
    &:focus,
    &::selection,
    &:after {
      border: 1px solid red;
      outline: none;
    }
  }
}
