//font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// imports

@import "mixin";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.nav-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-img {
  width: 18rem;
  margin-right: 10rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;

  li {
    padding: 0 10px;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    cursor: pointer;
    &:hover {
      color: $off-color;
    }
  }
}
.nav-btn {
  @include common-btn;
  margin-left: 5rem;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 0 0 5rem;
  background: rgba($off-color, 0.05);
}

.page-title {
  text-transform: capitalize;
  font-size: 5rem;
  max-width: 70%;

  color: $secondary-color;
}

.banner-img {
  width: 50rem;
}
.banner-description {
  font-size: 2rem;
  width: 50rem;
  max-width: 70%;
  padding: 0 0 0 2rem;
  margin: 1.5rem 0 0 0;
  border-left: 1px solid $secondary-color;
  color: $off-color;
}

.banner-btn {
  @include common-btn;
  text-transform: capitalize;
  margin-top: 5rem;
}

// find section

.find-section-part {
  margin: 5rem 5rem 0 5rem;
  @include shadow;
}

.find-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem 5rem 0 5rem;
  margin-bottom: 5rem;
  background: white;
  padding: 2rem 5rem 2rem 5rem;

  .find-btn {
    @include common-btn;
  }
}

.select-section {
  margin: 0 4rem;
  width: 20rem;

  select {
    padding: 1em 1.5em;
    background: white;
    border: 0.5px solid $off-color;
    &:active,
    &:focus,
    &::selection,
    &:after {
      border: 1px solid red;
      outline: none;
    }
  }
}

//  About section

.about-section {
  margin: 15rem 5rem 0 5rem;
}

.about-section-wrapper {
  display: flex;
  .about-img {
    position: relative;
    .about-img2 {
      position: absolute;
      bottom: 100px;
      right: 0;
      left: 0;
    }
  }
  .about-text {
    padding: 0 5rem;
    .about-indicator {
      @include section-title;
    }
    h2 {
      margin-top: 40px;
      font-size: 4rem;
      color: $secondary-color;
      &::after {
        content: ".";
        color: $main-color;
      }
    }
    p {
      font-size: 2rem;
      margin-top: 2rem;
      color: $off-color;
    }
    .about-features {
      ul {
        list-style: none;
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        li {
          font-size: 1.5rem;
          color: $off-color;
          i {
            margin-right: 20px;
            padding: 10px;
            border-radius: 100%;
            background: rgba($main-color, 0.08);
            color: $main-color;
            font-size: 2.5rem;
          }
        }
      }
    }
    .important-note {
      background: rgba($main-color, 0.05);
      border-left: 5px solid rgba($main-color, 1);
      margin-top: 40px;

      p {
        padding: 20px;
        font-size: 1.5rem;
        line-height: 3rem;
        max-width: 80%;
      }
    }
    div .about-btn {
      text-transform: uppercase;
      @include common-btn;
      margin: 30px 0;
    }
  }
}

// static section

.statics-section {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 5rem;
  margin: 7rem 0;
  background: rgba($off-color, 0.05);

  i {
    font-size: 7rem;
    color: $main-color;
  }
  h4 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
    color: $secondary-color;
  }
  p {
    font-size: 3rem;
    color: $off-color;
  }
}

// our service section
.our-services {
  background: rgba($off-color, 0.05);
  padding: 30px;
  .our-services-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    .our-services-indicator {
      @include section-title;
    }
    h3 {
      margin: 30px 0;
      font-size: 5rem;
      color: $secondary-color;
    }
  }
  .card-container {
    display: flex;
    margin: 0 30px;
    text-align: center;
    justify-content: space-evenly;
    .card {
      background-color: white;
      margin: 30px;
      @include shadow;
      padding: 30px;
      h5 {
        font-size: 2.4rem;
        color: $secondary-color;
      }
      p {
        font-size: 1.6rem;
        color: $off-color;
        padding: 30px;
      }
      a {
        text-decoration: none;
        font-size: 1.5rem;
        color: $main-color;
        font-weight: 600;
        &:hover {
          color: $secondary-color;
          padding-bottom: 5px;
          border-bottom: 2px solid $main-color;
        }
      }
    }
  }
}
